@-webkit-keyframes strike-thumb-up {
    0% {
        -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0;
    }
    40% {
        -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1;
    }
    70% {
        -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    90% {
        -webkit-transform: scale(1.02) rotate(0deg) translateX(0%) translateY(0%);
        transform: scale(1.02) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}

@keyframes strike-thumb-up {
    0% {
        -webkit-transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        transform: scale(0.3) rotate(6deg) translateX(-30%) translateY(30%);
        opacity: 0;
    }
    40% {
        -webkit-transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        transform: scale(1.03) rotate(-2deg) translateX(2%) translateY(-2%);
        opacity: 1;
    }
    70% {
        -webkit-transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        transform: scale(0.98) rotate(1deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    90% {
        -webkit-transform: scale(1.02) rotate(0deg) translateX(0%) translateY(0%);
        transform: scale(1.02) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        transform: scale(1) rotate(0deg) translateX(0%) translateY(0%);
        opacity: 1;
    }
}

@-webkit-keyframes strike-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes strike-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes strike-launch {
    0% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    2% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
    4% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    6% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    10% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    16% {
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1500%);
        transform: translateY(-1500%);
        opacity: 0;
    }
}

@keyframes strike-launch {
    0% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    2% {
        -webkit-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
    4% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    6% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    10% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    16% {
        -webkit-transform: translateY(-5%);
        transform: translateY(-5%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1500%);
        transform: translateY(-1500%);
        opacity: 0;
    }
}

.THIS.slds-scope .strike-form_stacked .slds-form-element + .slds-form-element {
    margin-top: t(spacingMedium);
}

.THIS.slds-scope .strike-form_stacked .slds-grid > .slds-form-element:first-child {
    margin-top: t(spacingMedium);
}

.THIS.slds-scope .strike-logo-container img {
    max-width: 350px;
    width: auto;
    max-height: 200px;
    height: auto;
}

.THIS.slds-scope .strike-hide {
    display: none !important;
}

.THIS.slds-scope .strike-show {
    display: block !important;
}

.THIS.slds-scope .strike-show_inline {
    display: inline !important;
}

.THIS.slds-scope .strike-show_inline-block {
    display: inline-block !important;
}

.THIS.slds-scope .strike-show_flex {
    display: _lex !important;
}

.THIS.slds-scope .strike-show_inline-flex {
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.THIS.slds-scope .strike-text_weak {
    opacity: 0.5;
}

.THIS.slds-scope .strike-page-header {
    position: relative;
    z-index: 1;
}

.THIS.slds-scope .strike-page-header + .slds-table {
    border-top: none;
}

.THIS.slds-scope .strike-page-header + .slds-table .slds-spinner_container {
    z-index: 0;
}

.THIS.slds-scope .strike-notify {
    max-width: 100%;
    min-width: 0;
    width: 100%;
    margin: 0;
}

.THIS.slds-scope .strike-alert {
    transition: all 250ms ease 0ms;
    position: fixed;
    top: -50px;
}

.THIS.slds-scope .strike-alert_show {
    top: 0;
}

.THIS.slds-scope .strike-icon-text-success {
    color: t(colorTextSuccessInverse);
    fill: t(colorTextSuccessInverse);
}

.THIS.slds-scope .strike-icon-text-success .slds-icon {
    color: t(colorTextSuccessInverse);
    fill: t(colorTextSuccessInverse);
}

.THIS.slds-scope .strike-icon-text-disabled {
    color: t(colorTextIconDefaultDisabled);
    fill: t(colorTextIconDefaultDisabled);
}

.THIS.slds-scope .strike-icon-text-disabled .slds-icon {
    color: t(colorTextIconDefaultDisabled);
    fill: t(colorTextIconDefaultDisabled);
}

.THIS.slds-scope .strike-button {
    white-space: nowrap;
}

.THIS.slds-scope .strike-button_large {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    line-height: 2.5rem;
}

.THIS.slds-scope .strike-button_warning {
    padding-left: t(spacingMedium);
    padding-right: t(spacingMedium);
    text-align: center;
    vertical-align: middle;
    border: 1px solid t(colorBackgroundWarning);
    background-color: t(colorBackgroundWarning);
    color: t(colorTextDefault);
}

.THIS.slds-scope .strike-button_warning:hover {
    background-color: #f7ad52;
}

.THIS.slds-scope .strike-button_warning:focus {
    background-color: #eda449;
}

.THIS.slds-scope .strike-button_warning:active {
    background-color: #e09940;
}

.THIS.slds-scope .strike-task-item {
    padding: t(spacingLarge);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.THIS.slds-scope .strike-task-item:nth-child(odd) {
    background-color: t(colorBackground);
}

.THIS.slds-scope .strike-task-item:nth-last-child() {
    border-bottom-right-radius: t(borderRadiusMedium);
    border-bottom-left-radius: t(borderRadiusMedium);
}

.THIS.slds-scope .strike-task-item .strike-task-status-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50px;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
}

.THIS.slds-scope .strike-task-item .strike-task-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.THIS.slds-scope .strike-task-item .strike-task-action {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.THIS.slds-scope .strike-task-list {
    background-color: #fff;
    margin-right: -1rem;
    margin-left: -1rem;
    margin-bottom: -1rem;
    border-bottom-right-radius: t(borderRadiusMedium);
    border-bottom-left-radius: t(borderRadiusMedium);
    overflow: hidden;
}

.THIS.slds-scope .strike-help {
    padding: 0;
    overflow: hidden;
}

.THIS.slds-scope .strike-help__header {
    color: #fff;
    background-color: t(colorBackgroundInfo);
    padding: t(spacingLarge);
}

.THIS.slds-scope .strike-help__header > .slds-grid {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (min-width: 48em) {
    .THIS.slds-scope .strike-help__header > .slds-grid {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

.THIS.slds-scope .strike-help__contact-info {
    text-align: left;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@media (min-width: 48em) {
    .THIS.slds-scope .strike-help__contact-info {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

.THIS.slds-scope .strike-help__contact-info a {
    text-decoration: none;
    color: #fff;
}

.THIS.slds-scope .strike-help__body {
    padding: t(spacingLarge);
}

.THIS.slds-scope .strike-help__links-header {
    margin-top: t(spacingMedium);
}

@media (min-width: 48em) {
    .THIS.slds-scope .strike-help__links-header {
        margin-top: 0;
    }
}

.THIS.slds-scope .strike-help__columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    column-gap: 2rem;
}

.THIS.slds-scope .strike-progress {
    margin-bottom: 0;
    pointer-events: none;
}

.THIS.slds-scope .strike-progress .slds-progress__item {
    width: 1rem;
    height: 1rem;
}

.THIS.slds-scope .strike-progress .slds-progress__item .slds-progress__marker_icon {
    width: 1rem;
    height: 1rem;
    background-color: t(colorBrand);
    border-color: t(colorBorderBrand);
}

.THIS.slds-scope .strike-progress .slds-progress__item .slds-progress__marker_icon .slds-icon {
    fill: white;
    width: 0.5rem;
    height: 0.5rem;
}

.THIS.slds-scope .strike-progress .slds-progress__item .slds-progress__marker_icon .slds-button__icon {
    width: 1rem;
    height: 1rem;
    position: relative;
    top: -0.25rem;
    left: -0.25rem;
}

.THIS.slds-scope .strike-wizard__header {
    padding: t(spacingMedium) 0;
    background-color: white;
    border-bottom: 1px solid t(colorBorder);
}

@media (min-width: 48em) {
    .THIS.slds-scope .strike-wizard__header {
        padding: t(spacingXLarge) 0;
    }
}

.THIS.slds-scope .strike-wizard__body {
    padding-top: t(spacingLarge);
    padding-bottom: t(spacingLarge);
    margin-bottom: t(spacingXxLarge);
}

@media (min-width: 48em) {
    .THIS.slds-scope .strike-wizard__body {
        padding-top: t(spacingXxLarge);
        padding-bottom: t(spacingXxLarge);
    }
}

.THIS.slds-scope .strike-wizard__body .slds-box {
    padding: t(spacingLarge);
}

.THIS.slds-scope .strike-wizard__title {
    text-align: center;
    padding: 0 t(spacingMedium);
    font-size: 1.25rem;
    margin-bottom: t(spacingSmall);
}

@media (min-width: 48em) {
    .THIS.slds-scope .strike-wizard__title {
        font-size: 1.75rem;
    }
}

.THIS.slds-scope .strike-wizard__step-title {
    font-size: 1rem;
    padding: 0 t(spacingMedium) t(spacingMedium);
    text-align: center;
}

@media (min-width: 48em) {
    .THIS.slds-scope .strike-wizard__step-title {
        font-size: 1.25rem;
    }
}

.THIS.slds-scope .strike-wizard__step-title + .strike-wizard__step-description {
    padding-bottom: t(spacingLarge);
    margin-top: -1rem;
}

.THIS.slds-scope .strike-wizard__step-description {
    padding: 0 t(spacingMedium);
    text-align: center;
}

.THIS.slds-scope .strike-wizard__footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    border-top: 1px solid t(colorBorder);
    background-color: white;
    padding: t(spacingLarge);
    text-align: right;
}

.THIS.slds-scope .strike-new-connector {
    padding: t(spacingMedium);
}

@media (min-width: 48em) {
    .THIS.slds-scope .strike-new-connector {
        padding: t(spacingXxLarge) t(spacingMedium);
    }
}

.THIS.slds-scope .strike-config__nav-col {
    min-height: calc(100vh - 73px);
    padding-top: t(spacingMedium);
    width: 240px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.THIS.slds-scope .strike-config__content-col {
    min-height: calc(100vh - 73px);
    max-width: calc(100vw - 240px);
    padding: t(spacingMedium);
    border-left: 1px solid t(colorBorder);
}

@media only screen and (max-width: 479px) {
    .THIS.slds-scope .strike-config_mobile-hidden {
        display: none;
    }
}

.THIS.slds-scope .strike-setup-icon {
    padding: 7px;
    background-color: #9faab5;
    color: white;
}

.THIS.slds-scope .strike-setup-icon .slds-icon-text-default {
    fill: white;
}

.THIS.slds-scope .strike-setup-icon .slds-icon-text-default .slds-icon {
    fill: white;
}

.THIS.slds-scope .strike-checkbox_large .slds-checkbox__label .slds-form-element__label {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.25;
}

.THIS.slds-scope .strike-checkbox_large [type="checkbox"] + .slds-checkbox__label .slds-checkbox_faux,
.THIS.slds-scope .strike-checkbox_large [type="checkbox"] + .slds-checkbox__label .slds-checkbox--faux {
    width: t(spacingLarge);
    height: t(spacingLarge);
    box-shadow: 0 0 3px 3px t(colorBackground) inset;
    background-color: #fdfdfd;
    vertical-align: top;
}

.THIS.slds-scope .strike-checkbox_large [type="checkbox"]:checked + .slds-checkbox__label .slds-checkbox--faux:after,
.THIS.slds-scope .strike-checkbox_large [type="checkbox"]:checked + .slds-checkbox__label .slds-checkbox_faux:after {
    width: t(spacingMedium);
    height: t(spacingXSmall);
    border-bottom-width: 4px;
    border-left-width: 4px;
    top: 44%;
}

.THIS.slds-scope .strike-radio_large .slds-radio__label .slds-form-element__label {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.25;
}

.THIS.slds-scope .strike-radio_large [type="radio"] + .slds-radio__label .slds-radio--faux,
.THIS.slds-scope .strike-radio_large [type="radio"] + .slds-radio__label .slds-radio_faux {
    width: t(spacingLarge);
    height: t(spacingLarge);
    box-shadow: 0 0 3px 3px t(colorBackground) inset;
    background-color: #fdfdfd;
    vertical-align: top;
}

.THIS.slds-scope .strike-radio_large [type="radio"]:checked + .slds-radio__label .slds-radio--faux:after,
.THIS.slds-scope .strike-radio_large [type="radio"]:checked + .slds-radio__label .slds-radio_faux:after {
    width: t(spacingMedium);
    height: t(spacingMedium);
}

.THIS.slds-scope .strike-multi-input .slds-form-element + .slds-form-element {
    margin-top: t(spacingXSmall);
}

.THIS.slds-scope .strike-multi-input__input-container {
    position: relative;
}

.THIS.slds-scope .strike-multi-input__input-container:first-child:last-child .strike-multi-input__remove {
    display: none;
}

.THIS.slds-scope .strike-multi-input__remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: t(spacingXSmall);
}

.THIS.slds-scope .strike-multi-input__empty-state {
    display: none;
}

.THIS.slds-scope .strike-multi-input__empty-state:first-child:last-child {
    display: block;
}

.THIS.slds-scope .strike-mapping-table_has-remove th:last-child,
.THIS.slds-scope .strike-mapping-table_has-remove td:last-child,
.THIS.slds-scope .strike-field-table_has-remove th:last-child,
.THIS.slds-scope .strike-field-table_has-remove td:last-child {
    width: 1px;
    text-align: center;
}


.THIS.slds-scope .strike-mapping-table_has-remove tbody tr:first-child:last-child .slds-button_icon-error,
.THIS.slds-scope .strike-field-table_has-remove tbody tr:first-child:last-child .slds-button_icon-error {
    pointer-events: none;
    color: #d8dde6;
}

.THIS.slds-scope .strike-mapping-table_has-remove.strike-allow-empty tbody tr:first-child:last-child .slds-button_icon-error,
.THIS.slds-scope .strike-field-table_has-remove.strike-allow-empty tbody tr:first-child:last-child .slds-button_icon-error {
    pointer-events: auto;
    color: t(colorTextError);
}

.THIS.slds-scope .strike-mapping-table_has-required th:nth-child(5),
.THIS.slds-scope .strike-mapping-table_has-required td:nth-child(5),
.THIS.slds-scope .strike-field-table_has-required th:nth-child(5),
.THIS.slds-scope .strike-field-table_has-required td:nth-child(5) {
    width: 1px;
    text-align: center;
}

.THIS.slds-scope .strike-mapping-table_has-required.strike-field-table_has-order th:nth-child(5),
.THIS.slds-scope .strike-mapping-table_has-required.strike-field-table_has-order td:nth-child(5),
.THIS.slds-scope .strike-field-table_has-required.strike-field-table_has-order th:nth-child(5),
.THIS.slds-scope .strike-field-table_has-required.strike-field-table_has-order td:nth-child(5) {
    width: auto;
    text-align: inherit;
}

.THIS.slds-scope .strike-mapping-table_has-required.strike-field-table_has-order th:nth-child(6),
.THIS.slds-scope .strike-mapping-table_has-required.strike-field-table_has-order td:nth-child(6),
.THIS.slds-scope .strike-field-table_has-required.strike-field-table_has-order th:nth-child(6),
.THIS.slds-scope .strike-field-table_has-required.strike-field-table_has-order td:nth-child(6) {
    width: 1px;
    text-align: center;
}

.THIS.slds-scope .strike-mapping-table_has-order th:first-child,
.THIS.slds-scope .strike-mapping-table_has-order td:first-child,
.THIS.slds-scope .strike-field-table_has-order th:first-child,
.THIS.slds-scope .strike-field-table_has-order td:first-child {
    width: 1px;
}

.THIS.slds-scope .strike-mapping-table__empty-state,
.THIS.slds-scope .strike-field-table__empty-state {
    display: none;
}

.THIS.slds-scope .strike-mapping-table__empty-state:first-child:last-child,
.THIS.slds-scope .strike-field-table__empty-state:first-child:last-child {
    display: table-row;
}

.THIS.slds-scope .strike-mapping-table td,
.THIS.slds-scope .strike-field-table td {
    vertical-align: top;
}

.THIS.slds-scope .strike-mapping-table .slds-form-element__label,
.THIS.slds-scope .strike-field-table .slds-form-element__label {
    display: none;
}

.THIS.slds-scope .strike-mapping-table .strike-checkbox_large,
.THIS.slds-scope .strike-mapping-table .strike-radio_large,
.THIS.slds-scope .strike-field-table .strike-checkbox_large,
.THIS.slds-scope .strike-field-table .strike-radio_large {
    margin-top: 0.25rem;
}

.THIS.slds-scope .strike-text-longform p + p {
    margin-top: t(spacingSmall);
}

.THIS.slds-scope .strike-animation {
    position: relative;
    margin-top: t(spacingXxLarge);
}

.THIS.slds-scope .strike-animation__thumbs-up {
    visibility: hidden;
    display: block;
    margin: t(spacingLarge) t(spacingLarge) t(spacingXxLarge);
    text-align: center;
    position: relative;
    z-index: 2;
}

.THIS.slds-scope .strike-animation__thumbs-up .slds-icon {
    width: 10rem;
    height: 10rem;
}

.THIS.slds-scope .strike-animation__stars {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.THIS.slds-scope .strike-animation__star {
    position: absolute;
    z-index: 1;
    transition: all 350ms ease;
    opacity: 0;
}

.THIS.slds-scope .strike-animation__star_show {
    opacity: 0.75;
}

.THIS.slds-scope .strike-animation__star_show:nth-child(1) {
    transition-delay: 250ms;
    -webkit-transform: translateX(100px) translateY(-60px) scale(2.5) rotate(15deg);
    -ms-transform: translateX(100px) translateY(-60px) scale(2.5) rotate(15deg);
    transform: translateX(100px) translateY(-60px) scale(2.5) rotate(15deg);
}

.THIS.slds-scope .strike-animation__star_show:nth-child(2) {
    transition-delay: 275ms;
    -webkit-transform: translateX(-100px) translateY(-60px) scale(0.75) rotate(33deg);
    -ms-transform: translateX(-100px) translateY(-60px) scale(0.75) rotate(33deg);
    transform: translateX(-100px) translateY(-60px) scale(0.75) rotate(33deg);
}

.THIS.slds-scope .strike-animation__star_show:nth-child(3) {
    transition-delay: 300ms;
    -webkit-transform: translateX(-130px) translateY(-10px) scale(2) rotate(60deg);
    -ms-transform: translateX(-130px) translateY(-10px) scale(2) rotate(60deg);
    transform: translateX(-130px) translateY(-10px) scale(2) rotate(60deg);
}

.THIS.slds-scope .strike-animation__star_show:nth-child(4) {
    transition-delay: 325ms;
    -webkit-transform: translateX(85px) translateY(15px) scale(1) rotate(45deg);
    -ms-transform: translateX(85px) translateY(15px) scale(1) rotate(45deg);
    transform: translateX(85px) translateY(15px) scale(1) rotate(45deg);
}

.THIS.slds-scope .strike-animation__star_show:nth-child(5) {
    transition-delay: 350ms;
    -webkit-transform: translateX(-45px) translateY(-100px) scale(1.5) rotate(80deg);
    -ms-transform: translateX(-45px) translateY(-100px) scale(1.5) rotate(80deg);
    transform: translateX(-45px) translateY(-100px) scale(1.5) rotate(80deg);
}

.THIS.slds-scope .strike-animation__star .slds-icon {
    color: t(colorTextWarning);
    fill: t(colorTextWarning);
}

.THIS.slds-scope .strike-animation_entrance {
    -webkit-animation-name: strike-thumb-up;
    animation-name: strike-thumb-up;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    visibility: visible;
}

.THIS.slds-scope .strike-inline-icon {
    vertical-align: 0.125rem;
}

.THIS.slds-scope .strike-steps {
    list-style: none;
}

.THIS.slds-scope .strike-steps__item:first-child:last-child .strike-steps__delete {
    color: #d8dde6;
    pointer-events: none;
}

.THIS.slds-scope .strike-steps__item + .strike-steps__item {
    margin-top: t(spacingMedium);
}

.THIS.slds-scope .strike-generate-animation {
    min-height: 10rem;
    position: relative;
}

.THIS.slds-scope .strike-generate-animation__rocket {
    position: relative;
    z-index: 1;
}

.THIS.slds-scope .strike-generate-animation__rocket .slds-icon {
    width: 10rem;
    height: 10rem;
}

.THIS.slds-scope .strike-generate-animation__spinner {
    transition: all 500ms ease 750ms;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
}

.THIS.slds-scope .strike-generate-animation__spinner .slds-icon {
    width: 6rem;
    height: 6rem;
    -webkit-animation-name: strike-spin;
    animation-name: strike-spin;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.THIS.slds-scope .strike-generate-animation_launch .strike-generate-animation__rocket {
    pointer-events: none;
    -webkit-animation-name: strike-launch;
    animation-name: strike-launch;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.THIS.slds-scope .strike-generate-animation_launch .strike-generate-animation__spinner {
    opacity: 0.5;
}

.THIS.slds-scope .strike-section__title {
    margin-top: t(spacingXLarge);
}

.THIS.slds-scope .strike-section__title-action:hover {
    cursor: default;
    background-color: t(colorBackground);
}

.THIS.slds-scope .strike-empty-state {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 0 t(spacingMedium);
    width: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.THIS .mixpanel-setup-toast_error {
    transition: all 250ms ease 0ms;
    opacity: 0;
    pointer-events: none;
}

.THIS .mixpanel-setup-toast_error.show {
    opacity: 1;
    pointer-events: auto;
}